# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# Virtual Environments
venv/
ENV/
env.bak/
venv.bak/

# Environment variables
.env

# Raw Data (Don't commit heavy CSVs)
data/*.csv
reports/*.html
reports/*.png

# Models
models/*.onnx
models/*.pkl

# MQL5 compilations
*.ex5

# Logs
logs/
*.log
